* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffffff;
  --second-color: #f54300;
  --main-color: #7dd87d;
  --text-color: #130849;
  --other-color: #999fb9;
  --big-font: 4.8rem;
  --h2-font: 3.2rem;
  --p-font: 1rem;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

header {
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 25px 18%;
  z-index: 100;
  transition: all 0.35s ease-in;
}

.logo img {
  min-width: 100%;
  width: 150px;
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: var(--p-font);
  color: var(--text-color);
  padding: 10px 28px;
  font-weight: 700;
  transition: all 0.35s ease;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar a.active {
  color: var(--main-color);
}

.navbar a.cart {
  font-size: 30px;
}

#menu-icon {
  color: var(--text-color);
  font-size: 40px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.top-btn a {
  display: inline-block;
  background: var(--text-color);
  color: #fff;
  padding: 17px 10px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 700;
}
section {
  padding: 80px 18%;
}
.home {
  height: 90vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 3rem;
}
.home-text h1 {
  margin: 20px 0px 20px;
  font-size: var(--big-font);
  line-height: 1.1;
}
.home-text h3 {
  color: var(--second-color);
  font-size: 35px;
  font-weight: 600;
}
.home-text p {
  font-size: var(--p-font);
  color: var(--other-color);
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 17px 32px;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  transition: all 0.25s ease;
}
.btn:hover {
  box-shadow: 0px 15px 22px rgb(125 216 125 / 44%);
}
.home-img img {
  width: 100%;
  height: auto;
}
